.mat-cell{
    padding-right: 80px;
    padding-top: 5px;
  }

  .mat-mini-fab{
    background-color: #eeeeee;
  }

  .mat-header-cell{
    padding-top: 16px;
  }

  .gato{
    background: #e6883c;
  }

  .lagarto{
    background: #3de667;
  }

  .rata{
    background: #c72727;
  }

  .camaleon{
    background: #5e8ef5;
  }